.DS_Store
.git
.idea/
.editorconfig
.gitattributes
.github/
.vscode
bin/
tests/
.dockerignore
.env
.env.dist
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
jest.config
/node_modules
.env
.cache
build
